<form [formGroup]="lotsForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Nom du lot :</label>
        <input id="name" formControlName="name" type="text" />
    </div>

    <div>
        <label for="race">Race :</label>
        <select id="race" formControlName="race_id">
            <option [value]="0" disabled>Choisir une race</option>
            <option *ngFor="let race of races" [value]="race.id">{{ race.nom }}</option>
        </select>
    </div>

    <div>
        <label for="date_achat">Date d'achat :</label>
        <input id="date_achat" formControlName="date_achat" type="date" />
    </div>

    <div>
        <label for="nombre_akoho">Nombre d'akoho :</label>
        <input id="nombre_akoho" formControlName="nombre_akoho" type="number" />
    </div>

    <div>
        <label for="age">Âge :</label>
        <input id="age" formControlName="age" type="number" />
    </div>

    <div>
        <label for="prix_achat">Prix d'achat :</label>
        <input id="prix_achat" formControlName="prix_achat" type="number" />
    </div>

    <button type="submit">Enregistrer</button>
</form>