<div *ngIf="errorMessage" class="alert alert-danger"><i class="fas fa-exclamation-circle"></i> {{ errorMessage }}</div>
<div *ngIf="successMessage" class="alert alert-success"><i class="fas fa-check-circle"></i> {{ successMessage }}</div>

<form [formGroup]="akohoMatyForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="form-label" for="lot">Lot</label>
    <select class="form-control" id="lot" formControlName="lot_id">
      <option [value]="0" disabled>Choisir un lot</option>
      <option *ngFor="let lot of lots" [value]="lot.id">{{ lot.name }} ({{ lot.race_nom }})</option>
    </select>
  </div>

  <div class="form-group">
    <label class="form-label" for="date_maty">Date de mort</label>
    <input class="form-control" id="date_maty" formControlName="date_maty" type="date" />
  </div>

  <div class="form-group">
    <label class="form-label" for="nombre">Nombre de morts</label>
    <input class="form-control" id="nombre" formControlName="nombre" type="number" />
  </div>

  <div class="form-group">
    <label class="form-label" for="nombre_lahy">Nombre_lahy</label>
    <input class="form-control" id="nombre_lahy" formControlName="nombre_lahy" type="number" />
  </div>

  <div class="form-group">
    <label class="form-label" for="nombre_vavy">Nombre_vavy</label>
    <input class="form-control" id="nombre_vavy" formControlName="nombre_vavy" type="number" />
  </div>

  <button class="btn btn-primary" type="submit">
    <i class="fas fa-save"></i> Enregistrer
  </button>
</form>