<h2>Ajouter une nouvelle race</h2>
<app-race-form (raceCreated)="onRaceCreated()"></app-race-form>

<div *ngIf="message" class="success">{{ message }}</div>

<h2>Liste des races</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>PU Sakafo/gramme</th>
            <th>PV/gramme</th>
            <th>PU Atody</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let race of races">
            <td>{{ race.id }}</td>
            <td>{{ race.nom }}</td>
            <td>{{ race.pu_sakafo_par_gramme }}</td>
            <td>{{ race.pv_par_gramme }}</td>
            <td>{{ race.pu_atody }}</td>
        </tr>
    </tbody>
</table>
<p *ngIf="races.length === 0" class="no-data">Aucune race enregistrée.</p>