<div *ngIf="errorMessage" class="alert alert-danger"><i class="fas fa-exclamation-circle"></i> {{ errorMessage }}</div>
<div *ngIf="successMessage" class="alert alert-success"><i class="fas fa-check-circle"></i> {{ successMessage }}</div>

<form [formGroup]="raceForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="form-label" for="nom">Nom de la race</label>
    <input class="form-control" type="text" id="nom" formControlName="nom" placeholder="ex: Pondeuse Rouge" />
  </div>

  <div class="form-group">
    <label class="form-label" for="prix-sakafo">PU Sakafo / gramme (Ar)</label>
    <input class="form-control" type="number" id="prix-sakafo" step="0.001" formControlName="pu_sakafo_par_gramme"
      placeholder="0.05" />
  </div>

  <div class="form-group">
    <label class="form-label" for="prix-vente">Prix de vente / gramme (Ar)</label>
    <input class="form-control" type="number" id="prix-vente" step="0.001" formControlName="pv_par_gramme"
      placeholder="0.10" />
  </div>

  <div class="form-group">
    <label class="form-label" for="prix-atody">Prix unitaire oeuf (Ar)</label>
    <input class="form-control" type="number" id="prix-atody" step="0.01" formControlName="pu_atody"
      placeholder="500" />
  </div>

  <div class="form-group">
    <label class="form-label" for="duree-incubation">Durée incubation (jours)</label>
    <input class="form-control" type="number" id="duree-incubation" step="0.01" formControlName="duree_incubation"
      placeholder="21" />
  </div>

  <div class="form-group">
    <label class="form-label" for="pourcentage-vavy">Pourcentage vavy</label>
    <input class="form-control" type="number" id="pourcentage-vavy" step="0.01" formControlName="pourcentage_vavy" />
  </div>

  <div class="form-group">
    <label class="form-label" for="prix-achat">Prix d'achat</label>
    <input class="form-control" type="number" id="prix-achat" step="0.01" formControlName="prix_achat" />
  </div>

  <div class="form-group">
    <label class="form-label" for="pourcentage-lamokany">Pourcentage lamokany</label>
    <input class="form-control" type="number" id="pourcentage-lamokany" step="0.01" formControlName="pourcentage_lamokany" />
  </div>

  <div class="form-group">
    <label class="form-label" for="capacite-pondre">Capacite à pondre</label>
    <input class="form-control" type="number" id="capacite-pondre" step="0.01" formControlName="capacite_pondre" />
  </div>  

  <button class="btn btn-primary" type="submit">
    <i class="fas fa-save"></i> Enregistrer
  </button>
</form>