<form action="">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
    
    <label for="prix-sakafo">Prix sakafo par gramme :</label>
    <input type="number" id="prix-sakafo" name="prix-sakafo" step="0.01" />

    <label for="prix-vente">Prix de vente par gramme :</label>
    <input type="number" id="prix-vente" name="prix-vente" step="0.01" />

    <label for="prix-atody">Prix unitaire oeuf :</label>
    <input type="number" id="prix-atody" name="prix-atody" step="0.01" />
    
    <button type="submit">Submit</button>
</form>